h5 {
    font-size: 16px;
}

li {
    font-size: 14px;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.image-info {
    display: flex;
    flex-direction: column;
    margin-left: 24px;    
}

.aboutme-container {
    display: flex;
    flex-direction: column;
}

.aboutme-container p {
    font-size: 14px;
}

.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
}

.experiencies-container {
    display: flex;
    flex-direction: column;
}

.experiencies-container h5 {
    margin-bottom: 32px;
}

.experiencies-item {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.experiencies-item--title {
    border-bottom: 2px solid #333;
    font-weight: 600;
    margin-bottom: 24px;
    padding-bottom: 4px;
}

.experiencies-item--subtitle {
    font-weight: 600;
    margin-bottom: 24px;
    padding-bottom: 4px;
}

@media only screen and (min-width: 600px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
    }
}


@media only screen and (min-width: 1000px) {
    .container {
        margin: auto;
    }
}

